<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/wheel/bootstrap.min.css" rel="stylesheet"></link>
	<link href="/wheel/Chart.css" rel="stylesheet"></link>
	<script src="/wheel/vue.global.prod.js"></script>
	<script src="/wheel/Chart.bundle.min.js"></script>
	<script src="/wheel/axios.min.js"></script>
	<script src="/scripts/canvasart.js"></script>
	<!--<script src="/wheel/vue-chartjs.min.js"></script>-->
	<title>TAN labs speed tester</title>
<style>

.slide-fade-enter-active {
	transition: all .3s ease-out;
}

.slide-fade-leave-active {
	transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
	transform: translateX(-50px);
	opacity: 0;
}

</style>
</head>

<body> 
	<div style='padding: 0; margin: 0;' id='speedtesterapp'>
		<header class="navbar navbar-expand navbar-dark" style='background-color: purple'>
			<a class="navbar-brand">TAN Labs Speed Tester</a>
			<div class="collapse navbar-collapse" id="navbarText">
				<span class='navbar-text' v-if='tasks.length>0'>Pending: {{ tasks.length }};
					<span v-if='tasks[0].duration !== null'>Current: {{ tasks[0].task }}, </span>
					<span v-if='tasks[0].task == "test_rip"'>{{ tasks[0].max_routes }} records seen,</span>
					{{ tasks[0].duration }} ms elapsed;
				</span>
			</div>
		</header>

		<div class='container-fluid'>
			<div class='row'>
				<transition name="slide-fade">
					<div v-if='show_ctrl' class='col-4 h-100' style='border-right: solid 1px'>
						<div class='row' style='height: 32px'>
							<div class='col-12'>
								<div class='float-right'>
									<button class='btn btn-sm btn-link' v-on:click='collapseCtrl'>Collapse &lt;</button>
								</div>
							</div>
						</div>
						<h2>File operations</h2>
						<div class='custom-file'>
							<input type='file' class='custom-file-input' v-on:change="loadConfig" v-cloak @drop.prevent="loadConfig" @dragover.prevent/>
							<label class='custom-file-label'>Load test config</label>
						</div>
						<button class='btn btn-outline-info' v-on:click='saveConfig'>Save test config</button>
						<div class='custom-file'>
							<input type='file' class='custom-file-input' v-on:change="loadResult" v-cloak @drop.prevent="loadConfig" @dragover.prevent/>
							<label class='custom-file-label'>Load test result</label>
						</div>
						<button class='btn btn-outline-success' v-on:click='saveResult'>Save test result</button>
						<button class='btn btn-outline-danger' v-on:click='clearResult'>Clear test result</button>

						<br/>
						<br/>
						<br/>
						<br/>

						<h2>Start a test</h2>
						<br/>
						<div class='form-group'>
							<h3 for='grpname'>Router name</h3>
							<input class='form-control' v-model='router_name'/>
						</div>
						<button class='btn btn-success' v-on:click='startAllTests'>Start complete test</button>
						<br/><hr/>

						<div class='form-group'>
							<h3 for='ripcnt'># of RIP records </h3>
							<input class='form-control' v-model='n_rip'/>
							<button class='btn btn-outline-success' v-on:click='startRIPTest(0)'>Setup routing table</button>
							<br/><hr/>
						</div>

						<div class='float-right'>
							<button v-on:click='addCase' href='#' class='btn btn-sm btn-outline-primary'>Add</button>
						</div>
						<h3>Connectivity test cases</h3>
						<p> <small>Specify a target port for each port. 0 stands for not sending any packet.</small> </p>
						<div class='form-group' v-for='(c, i) in conn_cases'>
							<div class='float-right'>
								<button v-on:click='removeCase(i)' class='btn btn-sm btn-outline-danger'>Remove</button>
							</div>
							<h4>Case {{i}}</h4>
							<div v-for='(src, j) in c' class='row'>
								<label class='col-8'>Target of input router {{j + 1}}</label>
								<div class='col-4'>
									<input class='form-control' type='number' v-model='c[j]'/>
								</div>
								<hr/>
							</div>
							<button class='btn btn-outline-success' v-on:click='startIPTest(i)'>Connectivity test case{{i}}</button>
							<hr/>
						</div>
						<div class='row'  v-if='conn_cases.length > 0'>
							<div class='col-12'>
								<button class='btn btn-outline-success' v-on:click='startAllIPTests'>Test all connectivity test cases</button>
								<br/><hr/>
							</div>
						</div>

						<div class='form-group'>
							<h3>Throughput test</h3>
							<label>Packet sizes</label>
							<input class='form-control' v-model='n_packet'/>
							<button class='btn btn-outline-success' v-on:click='startSpeedTests'>Test speed</button>
						</div>

					</div>
				</transition>

				<div v-bind:class='{ "col-8": show_ctrl, "col-12": !show_ctrl }'>
					<div class='row' style='height: 32px'>
						<div class='col-12'>
							<div class='float-left'>
								<button v-if='!show_ctrl' v-on:click='expandCtrl' class='btn btn-sm btn-link'>&gt; Expand control bar</button>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-12'>
							<h2 v-if='this.tasks.length == 0 && this.logs.length == 0'>Pending</h2>
							<h2 v-if='this.tasks.length > 0'>Testing</h2>
							<h2 v-if='this.tasks.length == 0 && this.logs.length > 0'>Test results <small v-if='router_name.length > 0'>of {{router_name}}</small></h2>
							<hr/>
						</div>
					</div>

					<div class='row' v-for='(r, i) in logs' :ref="'logs' + r.id">
						<div class='col-12' v-if='r.task== "rip"'>
							<h3>RIP test with {{r.n_rip}} records</h3>
							<div class='alert' v-bind:class='{"alert-success": r.passed, "alert-danger": !r.passed}'>
								<p v-if='r.passed'>Passed, connection created in {{r.latency}} ms</p>
								<p v-if='!r.passed'>Failed with message: </p>
								<pre v-if='!r.passed'>{{r.error}}</pre>
							</div>
						</div>

						<div class='col-12' v-if='r.task== "ip"'>
							<h3>IP connectivity test</h3>
							<canvas v-bind:width='pltwidth' v-bind:height='pltheight'>{{drawTopo(r)}}</canvas>
						</div>

						<div class='col-12' v-if='r.task== "speed"'>
							<h3>IP packet forwarding performance test</h3>
							<h4>Rate</h4>
							<canvas width='16' height='9'>{{drawCurve(r, 'pps')}}</canvas>
							<h4>Bandwidth</h4>
							<canvas width='16' height='9'>{{drawCurve(r, 'speed')}}</canvas>
							<p>Logs:</p>
							<div v-for='l in r.logs' class='alert' v-bind:class='{"alert-success": l.pass, "alert-danger": !l.pass}'>
								Task {{ l.label }}, 
								packet size: {{ l.packet_size }} Bytes,
								<br/>
								Overall bandwidth: {{l.tot_speed}} Mbps, Rate: {{l.tot_pps}} M
								<pre v-for='(t, j) in l.ifs'>
Interface {{j + 1}} 
	Bandwidth: {{ t.speed }} Mbps, Rate: {{ t.pps }} MPps,
    received {{t.recv_bytes}} bytes, error {{t.err_bytes}} bytes,
    received {{t.recv_frames}} frames, error {{t.err_frames}} frames
								</pre>
							</div>
						</div>

						<div class='col-12' v-if='r.task== "summary"'>
							<h3>Summary</h3>
							<p>TODO</p>
						</div>

						<div class='col-12'>
							<hr/>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script src='/scripts/tst.js'></script>
	</div>
</body>
</html>
